body {
  background-color: skyblue;
}
.img-logo {
  position: absolute;
  width: 219px;
  left: 5px;
  top: 102px;
}
h1 {
  font-size: 42px;
  position: absolute;
  top: -37px;
  left: 50px;
}
div#weather {
  display: flex;
  flex-direction: column-reverse;
  left: 233px;
  font-size: 25px;
  line-height: 0px;
  top: 104px;
}
h2 {
  position: absolute;
  left: -209px;
  top: -57px;
  font-size: 40px;
}
h3 {
  position: absolute;
  top: 69px;
  padding: 14px;
  width: 160px;
  left: 445px;
  font-size: 21px;
  font-weight: normal;
}
div {
  position: absolute;
  right: 50px;
  top: 78px;
  line-height: 0.5;
}
.A {
  font-weight: bold;
  font-size: 25px;
}
.B {
  font-weight: lighter;
  font-size: 20px;
}

.C {
  font-weight: lighter;
  font-size: 20px;
}
.Temperature {
  display: flex;
  text-align: center;
  left: 493px;
  top: 241px;
  list-style: none;
  font-size: 25px;
  padding: 11px;
  width: 462px;
  height: 31px;
  background-color: white;
  align-items: center;
  border-radius: 20px;
  margin-top: -230px;
  margin-left: 580px;
}
li {
  margin: 20px;
}
li:hover {
  padding: 12px;
  background-color: green;
  font-size: 25px;
  border-radius: 10px;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.graphic {
  position: absolute;
  top: 161px;
  width: 1218px;
  left: 148px;
  height: 588px;
}
.time {
  display: flex;
  text-align: center;
  top: 658px;
  font-size: 24px;
  left: 291px;
}
.image-temp {
  display: flex;
  flex-wrap: nowrap;
  height: 69px;
  left: -14px;
  top: 349px;
  justify-content: space-between;
  margin: 352px;
}

footer {
  display: flex;
  margin-top: 1022px;
  padding: 18px;
  background-color: blueviolet;
  font-size: 18px;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 17px;
}
input#city-input {
  position: absolute;
  left: 312px;
  width: 401px;
  height: 30px;
  border-radius: 11px;
  font-size: 17px;
  color: green;
} 
button {
  display: flex;
  margin-left: 225px;
  width: 121px;
  height: 35px;
  border-radius: 9px;
  text-align: center;
  font-size: 17px;
  flex-wrap: nowrap;
  align-items: center;
  background-color: aqua;
}
button:hover {
  background-color: green;
}
p.time {
  position: absolute;
  top: 10px;
  left: 968px;
}
p.weather {
  position: absolute;
  right: 35px;
}
ul.head {
  position: absolute;
  right: 105px;
  font-size: 34px;
  top: -28px;
}